body{
    background: #4CB963;
    color : white;
    
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.box{
    position:absolute;
    top: 2;
    right: 2;
}
a{
    color: red;
}
.vicky{
    text-align: center;
}
